body {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: aliceblue;
    padding: 30px;
}

form {
    background: black;
    color: aliceblue;
    padding: 20px;
    width: 350px;
    margin-bottom: 100px;
    border-radius: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #f0f0f0;
    color: black;
    border: none;
    cursor: pointer;
}

button:hover {
    background: gray;
}

p a {
    color: inherit;
}
h2 {
    margin-bottom: 20px;
}